*{
    margin: 0;
    padding: 0;
}

body {

    display: flex;
    flex-direction: column;
    font-family: "Roboto Mono";
    text-align: center;
    background-image: url("https://caelum-online-public.s3.amazonaws.com/assets-imersaodev/background-aluraflix.png");
    background-color: hsl(0, 0%, 0%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;   
}

.container {
    margin-bottom: 5%;
}

.page-title {
    color: #ffffff;
    margin: 0 0 5px;
}

.link-to-index{
    background-image: url("https://img.freepik.com/premium-photo/movie-theatre-movie-theater-moviehall-cinemapalace-cinema-high-quality-photo_493343-42296.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;   
    height: 200px;
    width: 200px;
    margin:auto;
    border: solid 1px white;
}
.link-to-index>a{
    color: white;
    text-decoration: none;
    font-size: .8em;
}
.link-to-index:hover{
    border: 2px solid white;
    border-radius: 2px;
}

.page-subtitle {
    color: #ffffff;
    padding: 15px;
}

.page-logo {
    width: 200px;
}

.alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
}

img {
    max-height: 250px;
}

.subtitle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 3%;
}

.filme-btn {
    border: none;
    border-radius: 0.5em;
    color: rgba(128, 128, 128, 0.450);
    height: 50px;
    margin-bottom: 15px;
    text-align: center;
    width: 35%;
}

.add-filme-btn {
    background-color: red;
    border: none;
    border-radius: 1em;
    height: 50px;
    color: white;
    width: 25%;
}

.add-filme-btn>a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer, .socialMedia{
    font-family: "Roboto Mono";
    color: white;
    margin-top: 10em;
    margin-bottom: 4%;
}

.socialMedia {
    color: white;
    text-decoration: none;
}

.socialMedia:hover{
    color: #42321C;
    font-weight: bolder;
}